@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/vendor/rfs";

// Initialize
@import "variables";
@import "mixins";

// Core CSS
@import "preloader";
@import "reset";
@import "helpers";
@import "layouts";

// Content Blocks
@import "header";
@import "elements";
@import "footer";
@import "extras";

//react-modal-video
@import "node_modules/react-modal-video/scss/modal-video.scss";

.header-whatsapp {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    font-weight: 600;
    span i {
      color: $whatsapp;
    }
  }
}
.contct-us-form{
  position: relative;
  background: rgb(255 255 255 / 24%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.9px);
  padding-block: 16px;
}
